<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702745966618-6jroded9nurm91o6qqe37tp543iu08me.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702745966618-6jroded9nurm91o6qqe37tp543iu08me</string>
	<key>API_KEY</key>
	<string>AIzaSyBUg3oT1mr1tBBxsZi9vodvQbQsdDJefIY</string>
	<key>GCM_SENDER_ID</key>
	<string>702745966618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kelsey.InspoBoardFirebase</string>
	<key>PROJECT_ID</key>
	<string>inspoboardfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>inspoboardfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702745966618:ios:3dafa7de4bb09cb4c4f9a3</string>
</dict>
</plist>